.container-first-page {
    background-image: url('/images/background-first-page.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}