.body{
    background-color: #555C5C;
}

.grid{
    max-width: 1300px;
}
.category{
    position: relative;
    max-height: 350px;
    max-width: 350px;
    margin: 10px;
    cursor: pointer;
}
.category:hover{
    transform: scale(1.1)
}

.category>h1{
    position: absolute;
    left: 25%;
    top: 30%;
    color: white;
    opacity: 0.8;
    }