.grid{
    max-width: 1300px;
}
.category{
    position: relative;
    max-height: 350px;
    max-width: 350px;
    margin: 10px;
    /*border-radius: 5%;*/
    /*background-image: url("../images/MobilePhone.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*text-align: center;*/
}

.category>p{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #2b3042;
    color: white;
    opacity: 50%;
}