.productImgComparison {
    margin: 0 auto;
}

.tableComparison {
    margin-top: 1em;
    padding: 20px;
}

.table-condensed > tbody > tr > td.comparisonAttributes {
    text-align: center;
}

.table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    font-size: 20px;
    padding: 1%;
    text-align: right;
    font-weight: bolder;
}

.tableComparisonHead > tr > td {
    background-color: white;
    margin-top: 1em;
    text-align: center;
}
