.productImgComparison{
margin: 0 auto;

}
.tableComparison{
    margin-top: 1em;
    padding: 20px;
}
.table-condensed > tbody > tr > td.zupa{
    text-align: center;
}


.table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    font-size: 20px;
    padding: 20px;
    text-align: right;
    font-weight: bolder;

}
.tableComparisonHead>tr>td{
    background-color: white;
    margin-top: 1em;
}

.ShowDifferences.btn-default,
.ShowDifferences.btn-default:active,
.ShowDifferences.btn-default:focus,
.ShowDifferences.btn-default:visited,
.ShowDifferences.btn-default:active:focus{
    width: 100%;
    text-align: center;
    background-image: none;
    background-color: white;
    color: black;
    text-shadow: none;
}

.ShowDifferences.btn-default:hover,
.ShowDifferences.btn-default.active:hover,
.ShowDifferences.btn-default:active:hover{
    background-color: rgba(89, 89, 126, 0.8);
    background-image: none;
}