.ComparePreview {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #919d9d;
    border-radius: 1em;
    margin: 10px;
    padding: 10px;
}
.CompareItem {
    display: inline-flex;
}
.CompareItem :hover {
    text-decoration: none;
}