.main-window {
    padding: 20px 0;
    text-align: center;

}

.main p {
    font-size: 18px;
    text-align: center;

}

.main {
    background-color: #F78E69;
    max-width: 700px;
    margin: 0 -15px 20px -15px;
    padding: 20px;
}

.text-form {
    font-weight: 800;
    text-align: center;
    font-size: 16px;
}

.datalog {
    color: #566b70;
    font-weight: 800 !important;
    font-size: 16px;
}

.form-desription {
    color: black;
}

.background-window {
    background: #fff;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75);
}

.main .signup {
    color: white;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.main .signup:hover {
    cursor: pointer;
}

.form-group .btns-firstpage {
    background-color: #F78E69;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border: 0;
}

.form-group .btns-firstpage:hover,
.form-group .btns-firstpage:focus,
.form-group .btns-firstpage:active:focus {
    background-color: #F7EF99;
    color: black;
}

.datalog.form-horizontal .checkbox {
    padding-top: 0;
}

.btn-signup {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 800;
}

.btn-signup:hover {
    cursor: pointer;
}

.nowe {
    display: flex;
    justify-Content: center;
    min-Height: 100vh;

}

.nowe2 {
    display: flex;
    align-Self: center;
    direction: inherit;
    background-color: white;
    box-shadow: 0px 11px 38px -10px rgba(0, 0, 0, 0.75);
}

.nowe3 {
    min-Width: 300px;
    background: #000;
    font-Size: 32px;
    display: flex;
    justify-Content: center;
    align-Items: center;
    text-Align: center;
    background-image: url('/images/for_you.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.nowe3 p {
    align-self: flex-end;
    font-family: 'Allura', cursive;
    color: white;

}

