.main-info {
    color: white;
    font-size: 22px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.main {
    background-color: #337ab7;
    max-width: 700px;
    margin: 15px auto;
    padding: 3px;
    letter-spacing: 1px;
}

.text-form {
    font-weight: 800;
    text-align: center;
    font-size: 16px;
}

.datalog {
    color: #337ab7;
    font-weight: 800 !important;
    font-size: 16px;
}

.form-desription {
    color: black;

}

.background-window {
    background: -moz-linear-gradient(-45deg, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
    max-width: 560px;
    margin: 0 auto;
    border-radius: 22px;
}

.main .signup {
    color: white;
    text-align: center;
    margin: 0;
}