.panel {
    text-align: center;
    padding: 10px 0;
    border: 2px solid #ffb822;
}
div.panel.panel-default {
    background-color: white;
}
div.panel.panel-default:hover {
    background-color: white;

}
.carousel-inner {
    margin-bottom: 20px;
}
.oferts {
    background-color: white;
    text-align: center;
    font-size: 3em;
    border: 2px solid  #ffb822;
    border-radius: 0.2em;
    color: black;

}
.ButtonCompare{
    margin-top: 1.7em;
}