.ResultFilter{
    background-color: white;
    padding: 3em 2em 2em 2em;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    text-align: center;
    color: #ff4a2f;
    margin-bottom: 4em;
}

.FilterText{
    color: black;
    margin-bottom: 20px;
}

.ResultFilter .btn-default{
    background-image: none;
    color: black;
    text-shadow: none;
}

.ResultFilter .btn-default:hover{
    color: black;
    text-shadow: none;
    background-color: #ffb822;
    background-image: none;
}

.ResultFilter .btn-default:focus{
    color: black;
    text-shadow: none;
    background-color: #ffb822;
    background-image: none;
}
