.ResultFilter{
    background-color: white;
    padding: 3em 2em 2em 2em;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    text-align: center;
    color: #ff4a2f;
    margin-bottom: 4em;
}

.ResultFilter .ButtonGroup{
    margin-top: 1em;
}

.FilterText{
    color: black;
    margin: 1em;
}

.ResultFilter .btn-default{
    background-image: none;
    color: black;
    text-shadow: none;
}

.ResultFilter .btn-default:hover{
    color: black;
    text-shadow: none;
    background-color: lightgray;
    background-image: none;
}

.ResultFilter .btn-default:focus{
    color: black;
    text-shadow: none;
    background-color: rgba(89, 89, 126, 0.8);
    background-image: none;
}
