.ResultFilter{
    background-color: white;
    padding: 3em 2em 2em 2em;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    text-align: center;
    color: #ff4a2f;
    margin-bottom: 4em;
}

.ResultFilter .ButtonGroup{
    margin-top: 1em;
}

.FilterText{
    color: black;
    margin: 1em;
}

.ResultFilter .btn-default{
    background-image: none;
    color: black;
    text-shadow: none;
}

.ResultFilter .btn-default:hover{
    color: black;
    text-shadow: none;
    background-color: rgba(89, 89, 126, 0.8);
    background-image: none;
}

#header-filter-result {
    color: black;
    margin-bottom: 10px;
}

.filter-list {
    color: black;
    line-height: 2;
    font-weight: 800;
}

.btn-reset {
    color: black;
    margin-top: 25px;
    padding: 2px 10px;
    font-weight: 600;

}