.Result {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
}

.Result .container {
    margin-bottom: 4em;
    margin-right: 0;
    margin-left: 2em;
    border-bottom: 1px solid black;
}

.resultName{
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.resultButton{
    width: 100%;
    height: 50%;
}
.resultBorder{
    font-size: large;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50%;
}
