.Result {
    margin: 1em;
    padding: 2em 0;
}

.ButtonCompare.btn-default,
.ButtonCompare.btn-default:active,
.ButtonCompare.btn-default:focus,
.ButtonCompare.btn-default:active:focus{
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    background-image: none;
    background-color: #ffca25;
    color: black;
    text-shadow: none;
}

.ButtonCompare.btn-default:hover,
.ButtonCompare.btn-default.active:hover,
.ButtonCompare.btn-default:active:hover{
   background-color: #ffb822;
    background-image: none;
}

.Result .container{
    padding-left:0;
}

.Result .ResultItem {
    background-color: white;
    margin:0 0 4em 0;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.ResultItem:hover {
    border: #e72907;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 5px 9px rgba(0,0,0,0.5);
}

.resultName{
    margin-top: 1em;
    color: #e72907;
    font-size: 2em;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100%;
}

.resultPrice{
    color:  #e72907;
    font-size: 2em;
    border-top: 2px solid;
    text-align: center;
    padding: 0;
    margin-top: 0.5em;
    width: 100%;
    height: 50%;
}

.resultPhoto img{
    margin: 1em 1em 1em 0;
    border-radius: 1em;
    text-align: center;
}

.ResultSpec{
    color:  #e72907;
    font-size: 1em;
    text-align: left;
    margin-top: 1.5em;
    text-decoration: none;
    width: 25%;
}


.slider {
    margin-top: 7em;
    color: black;
    font-weight: 800;
}

.slider-price {
    color: red;
}

@media screen and (max-width: 992px) and (min-width: 785px){
.ResultItem{
    width: 110%;
}
}
@media screen and (max-width: 785px){
    .resultPhoto{
        text-align: center;
    }
    .ResultSpec{
        width: auto;
        text-align: center;

    }
}


@media screen and (min-width: 992px){
    .priceAndName{
        margin-left: 3.7em;
    }
    .ResultSpec{
        width: 25%;
    }
}