.Result {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2em;
    padding-bottom: 2em;
}

.ButtonCompare {
    width: 100%;
    text-align: center;
}
.Result .container{
    padding-left:0;
}

.Result .ResultItem {
    background-color: #555C5C;
    color: #fffcdd;
    margin-bottom: 4em;
    border-radius: 1em;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.ResultItem:hover {
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 5px 9px rgba(0,0,0,0.5);
}

.resultName{
    margin-top: 1em;
    color: whitesmoke;
    font-size: 2em;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*.resultButton{*/
    /*width: 100%;*/
    /*height: 50%;*/
    /*margin-top: 1.5em;*/
/*}*/

.resultButton:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.7);
}

.resultPrice{
    color: rgb(255, 253, 240);
    font-size: 3em;
    border-top: 2px solid;
    text-align: center;
    padding: 0;
    margin-top: 0.5em;
    width: 100%;
    height: 50%;
}

.resultPhoto{
    padding: 0;
    margin: 0;
}

.resultPhoto img{
    margin: 1em 1em 1em 0;
    border-radius: 1em;
}

.slider {
    margin-top: 5em;
}
